<div class="bg-header-bcp">
  <div class="container" style="height: 100%;">
    <div class="row align-content-center" style="height: 100%;">
      <div class="col align-self-center">
        <h3>Agencias</h3>
      </div>
      <div class="col align-self-center text-end">
        <div class="align-self-center d-flex">
          <input type="text" class="form-control border-end-0 border br-bcp" placeholder="Buscar.." name="buscar"
            id="buscar" [(ngModel)]="buscarInput" style="height: 45px;" (keyup)="buscarAgencia()">
          <i class="bi bi-search align-self-center ml-3"></i>
          <i class="bi bi-check-circle-fill text-danger m-3 align-self-center"></i>
        </div>
      </div>
    </div>
  </div>
</div>
